{% load comments gravatar %}

<h5><a name="comments">Comments</a></h5>
{% get_comment_list for object as comment_list %}
<p><a href="#commentform">Leave a comment</a></p>

<div id="comments_div">
	<ol id="commentList" class="comments">
{% for comment in comment_list %}
{% with comment.user_url as url %}
		<li class="comment">
		<div class="author">
			{% if url %}<a href="{{ url }}">{% endif %}
				{% gravatar_img_for_email comment.user_email 60 %}
			{% if url %}</a>{% endif %}
			<cite>
			{% if url %}<a class="{{ comment.auth_type }}" href="{{ url }}">{% endif %}
				{{ comment.user_name }}
			{% if url %}</a>{% endif %}
			</cite>
			<abbr title="{{ comment.submit_date }}">
				{{ object.created_at|timesince:comment.submit_date }} later:
			</abbr>
		</div>
		<div class="content">
			<p>{{ comment.comment }}</p>
		</div>
		</li>
{% endwith %}
{% endfor %}
	</ol>
</div>