local_settings.py
.dynamic_media
_generated_media
common
lib/docutils
lib/django_xmlrpc
lib/markdown
lib/openid
lib/pygments
lib/socialauth
*.pyc
*.sqlite
test*.json*
.project
.pydevproject
.settings
*~
