local_settings.py
lib/docutils
lib/django_xmlrpc
lib/markdown
lib/openid
lib/pygments
lib/socialauth
autoload
dbindexer
django
djangoappengine
djangotoolbox
*.pyc
*.sqlite
*.json
*.gz
.project
.pydevproject
.settings
*~
_*