.sourcecode .hll { background-color: #ffffcc }
.sourcecode  { background: #f8f8f8; }
.sourcecode .c { color: #408080; font-style: italic } /* Comment */
.sourcecode .err { border: 1px solid #FF0000 } /* Error */
.sourcecode .k { color: #008000; font-weight: bold } /* Keyword */
.sourcecode .o { color: #666666 } /* Operator */
.sourcecode .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.sourcecode .cp { color: #BC7A00 } /* Comment.Preproc */
.sourcecode .c1 { color: #408080; font-style: italic } /* Comment.Single */
.sourcecode .cs { color: #408080; font-style: italic } /* Comment.Special */
.sourcecode .gd { color: #A00000 } /* Generic.Deleted */
.sourcecode .ge { font-style: italic } /* Generic.Emph */
.sourcecode .gr { color: #FF0000 } /* Generic.Error */
.sourcecode .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.sourcecode .gi { color: #00A000 } /* Generic.Inserted */
.sourcecode .go { color: #808080 } /* Generic.Output */
.sourcecode .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.sourcecode .gs { font-weight: bold } /* Generic.Strong */
.sourcecode .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.sourcecode .gt { color: #0040D0 } /* Generic.Traceback */
.sourcecode .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.sourcecode .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.sourcecode .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.sourcecode .kp { color: #008000 } /* Keyword.Pseudo */
.sourcecode .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.sourcecode .kt { color: #B00040 } /* Keyword.Type */
.sourcecode .m { color: #666666 } /* Literal.Number */
.sourcecode .s { color: #BA2121 } /* Literal.String */
.sourcecode .na { color: #7D9029 } /* Name.Attribute */
.sourcecode .nb { color: #008000 } /* Name.Builtin */
.sourcecode .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.sourcecode .no { color: #880000 } /* Name.Constant */
.sourcecode .nd { color: #AA22FF } /* Name.Decorator */
.sourcecode .ni { color: #999999; font-weight: bold } /* Name.Entity */
.sourcecode .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.sourcecode .nf { color: #0000FF } /* Name.Function */
.sourcecode .nl { color: #A0A000 } /* Name.Label */
.sourcecode .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.sourcecode .nt { color: #008000; font-weight: bold } /* Name.Tag */
.sourcecode .nv { color: #19177C } /* Name.Variable */
.sourcecode .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.sourcecode .w { color: #bbbbbb } /* Text.Whitespace */
.sourcecode .mf { color: #666666 } /* Literal.Number.Float */
.sourcecode .mh { color: #666666 } /* Literal.Number.Hex */
.sourcecode .mi { color: #666666 } /* Literal.Number.Integer */
.sourcecode .mo { color: #666666 } /* Literal.Number.Oct */
.sourcecode .sb { color: #BA2121 } /* Literal.String.Backtick */
.sourcecode .sc { color: #BA2121 } /* Literal.String.Char */
.sourcecode .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.sourcecode .s2 { color: #BA2121 } /* Literal.String.Double */
.sourcecode .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sourcecode .sh { color: #BA2121 } /* Literal.String.Heredoc */
.sourcecode .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sourcecode .sx { color: #008000 } /* Literal.String.Other */
.sourcecode .sr { color: #BB6688 } /* Literal.String.Regex */
.sourcecode .s1 { color: #BA2121 } /* Literal.String.Single */
.sourcecode .ss { color: #19177C } /* Literal.String.Symbol */
.sourcecode .bp { color: #008000 } /* Name.Builtin.Pseudo */
.sourcecode .vc { color: #19177C } /* Name.Variable.Class */
.sourcecode .vg { color: #19177C } /* Name.Variable.Global */
.sourcecode .vi { color: #19177C } /* Name.Variable.Instance */
.sourcecode .il { color: #666666 } /* Literal.Number.Integer.Long */