{% load cache humanize blog_tags comment_tags markup_tags smart_if %}

{% get_comment_count for object as comment_count %}

<div class="entry hentry">
	<h2 class="title">
		<a class="entry-title bookmark" href="{{ object.get_absolute_url }}">
			{{ object.title }}
		</a>
		{% if comment_count > 0 %}
			<span class="comment_count">{{ comment_count }}</span>
		{% endif %}
	</h2>
	<p class="vcard author">
		Posted by
		<cite class="fn" title="{{ object.author.get_full_name }}">
			<span class="nickname">{{ object.author.first_name }}</span>
		</cite>
		<abbr class="published" title="{{ object.created_at }}">
			<span class="date">
			{% if now.year != object.created_at.year %}
				{{ object.created_at|naturalday:'D, N d \'y' }}
			{% else %}
				{{ object.created_at|naturalday:'D, N d' }}
			{% endif %}
			</span>
		</abbr>
	</p>
	<div class="content entry-content">
		{% cache 1000000 blog-post object.pk %}
		{{ object.body|render:object.markup }}
		{% endcache %}
	</div>
	<ul class="meta">
		{% cache 1000000 blog-meta object.pk %}
		<li class="categories">Posted in
		{% get_categories_for object as category_list %}
		{% for category in category_list %}
			<a rel="tag" href="{{ category.get_absolute_url }}">
				{{ category.title }}</a>
		{% empty %}
			Uncategorized
		{% endfor %}
		<abbr class="published" title="{{ object.updated_at }}">
			{{ object.created_at|timesince }} ago
		</abbr>
		</li>
		<li>Meta
			<a href="{{ object.get_absolute_url }}#comments">{{ comment_count }} comments</a>,
			<a rel="bookmark" href="{{ object.get_absolute_url }}">permalink</a>
			{% if user.is_staff %}
			<a href="/admin/blog/post/{{ object.key }}/">admin</a>
			{% endif %}
		</li>
		{% endcache %}
	</ul>
</div>