{% extends 'base.html' %}
{% load comment_tags trackback_tags %}

{% block title %}{{ object.title }} - Libcoffee.net{% endblock %}

{% block feed %}
<link rel="alternate" type="application/rss+xml" title="RSS for this entry's comments"
	href="/blog/feeds/articles/{{ object.created_at|date:'Y/m/d' }}/{{ object.slug }}/" />
<link rel="pingback" href="{% get_pingback_url %}" />
{% get_trackback_rdf_for object %}
{% endblock %}

{% block body %}
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script type="text/javascript">FB.init("4cd681a3503f19de7ad98126c686369d", "/xd_receiver.htm");</script>

{% include "blog/post_render.html" %}

{% include "trackback/trackback_list.html" %}
{% include "comments/comments_list.html" %}
{% render_comment_form for object %}
{% endblock %}