{% load comment_tags smart_if %}
<script type="text/javascript">function facebook_onlogin(){ window.location = "{% url auth.views.facebook_login_complete %}?next={{ object.get_absolute_url }}" }</script>

<form id="commentform" action="{% comment_form_target %}" method="post">
<fieldset>
	{% if user.is_authenticated %}
	
		<div class="span-14 last">
			<label for="id_comment">Comment:</label><br/>
			<textarea class="span-14" id="id_comment" name="comment"></textarea>
		</div>
	
	{% else %}
		{% if request.session.user_name != None %}
    
			<p>Welcome back, <a href="{{ request.session.user_url }}" class="{{ request.session.user_type }}">
				{{ request.session.user_name }}</a>!
				(<a href="/auth/logout?next={{ object.get_absolute_url }}">Logout</a>)
			</p>
			<div class="span-14 last">
				<label for="id_comment">Comment:</label><br/>
				<textarea class="span-14" id="id_comment" name="comment"></textarea>
			</div>

			<input type="hidden" name="name" value="{{ request.session.user_name }}"/>
			<input type="hidden" name="email" value="{{ request.session.user_email }}"/>
			<input type="hidden" name="url" value="{{ request.session.user_url }}"/>
			<input type="hidden" name="user_type" value="{{ request.session.user_type }}"/>

		{% else %}
    
			<div class="fields span-6 colborder">
				<p>
					<label for="id_name">Name:</label><br/>
					<input type="text" class="text span-6" maxlength="50" id="id_name" name="name"/>
        		</p>
        		<p>
					<label for="id_email">Email address:</label><br/>
					<input type="text" class="text span-6" id="id_email" name="email"/>
				</p>
				<p>
					<label for="id_url">URL:</label><br/>
					<input type="text" class="text span-6" id="id_url" name="url"/>
				</p>
			</div>
			<div class="span-6 prepend-1 last">
				<div class="small">
					Or log in with your preferred identity:<br/>
      				(no registration required)</div>
   				<div>
     				<img class="favicon" title="Google" src="{{ MEDIA_URL }}global/google.ico"/>
					<a href="/auth/google_login/?next={{ object.get_absolute_url }}">
						Sign in with Google Account</a><br/>
					<img class="favicon" title="OpenID" src="{{ MEDIA_URL }}global/openid.ico" />
					<a href="/auth/openid_login/?next={{ object.get_absolute_url }}">
						Sign in with OpenID</a>
					<br/><br/>
					<fb:login-button onlogin="facebook_onlogin();"></fb:login-button>
				</div>
			</div>
			<div class="span-14 last">
				<label for="id_comment">Comment:</label><br/>
				<textarea class="span-14" id="id_comment" name="comment"></textarea>
			</div>
			
    	{% endif %}
	{% endif %}
	{% for field in form.hidden_fields %}
		{% if field.name != 'user_type' %}{{ field }}{% endif %}
	{% endfor %}

<div class="span-2"><button type="submit" name="post">Submit</button></div>
<div class="span-2"><button type="submit" name="preview">Preview</button></div>
<div class="push-1 append-1 last small">
	* All fields are required.<br/>
	* Use <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> for markup.
</div>
<input type="hidden" name="next" value="{{ object.get_absolute_url }}#comments" />
</fieldset>
</form>