{% extends "base.html" %}
{% load i18n smart_if comment_tags markup_tags %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block body %}
<form id="commentform" action="{% comment_form_target %}" method="post">
<fieldset>
	{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
	{% endif %}
	
	{% if form.errors %}
		<h2>{% blocktrans count form.errors|length as counter %}
				Please correct the error below
			{% plural %}
				Please correct the errors below
			{% endblocktrans %}
		</h2>
	{% else %}
		<h2>{% trans "Preview your comment" %}</h2>
		<blockquote>{{ comment|force_escape|render:'Markdown' }}</blockquote>
		<p>
			{% trans "and" %}
			<input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" />
			{% trans "or make changes" %}:
		</p>
	{% endif %}
	
	{% for field in form.visible_fields %}
		{{ field.errors }}
		<p {% if field.errors %}class="error"{% endif %}>
			{{ field.label_tag }}:<br/>{{ field }}
		</p>
	{% endfor %}

	{% for field in form.hidden_fields %}
		{% if field.name != 'user_type' %}{{ field }}{% endif %}
	{% endfor %}
	
	<div class="span-2"><button type="submit" name="post">{% trans "Submit" %}</button></div>
	<div class="span-2"><button type="submit" name="preview">{% trans "Preview" %}</button></div>
	<div class="push-1 append-1 last small">
		* All fields are required.<br/>
		* Use <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> for markup.
	</div>
</fieldset>
</form>
{% endblock %}
