{% extends 'base.html' %}

{% block title %}Libcoffee.net - Page not found{% endblock %}

{% block body %}
<h2>Page not found</h2>
<!-- 'The 404 Sonet', Poem by Thomas Thurman <thomas@thurman.org.uk> -->
<blockquote class="alt" cite="Thomas Thurman" style="font-size: medium;">
	So many years have passed since first you sought<br/>
	the lands beyond the edges of the sky,<br/>
	so many moons reflected in your eye,<br/>
	(familiar newness, fear of leaving port),<br/>
	since first you sought, and failed, and learned to fall,<br/>
	(first hope, then cynicism, silent dread,<br/>
	the countless stars, still counting overhead<br/>
	the seconds to your final voyage of all...)<br/>
	and last, in glory gold and red around<br/>
	your greatest search, your final quest to know!<br/>
	yet... ashes drift, the embers cease to glow,<br/>
	and darkened life in frozen death is drowned;<br/>
	and ashes on the swell are seen no more.<br/>
	The silence surges.
	<span class="strong loud" style="font-size:110%">Error 404.</span>
</blockquote>
<br/>
<p class="prepend-11">Go to <a href="/">Main page</a></p>
{% endblock %}