{% extends 'base.html' %}

{% block title %}Libcoffee.net - Page not found{% endblock %}

{% block content %}

<h3>Error 404; Page not found.</h3>

<blockquote>
	<em>
		I shall be telling this with a sigh<br/>
		Somewhere ages and ages hence:<br/>
		Two roads diverged in a wood, and I--<br/>
		I took the one less traveled by,<br/>
		And that has made all the difference.<br/>
	</em>
	
	<small><cite title="The Road Not Taken">The Road Not Taken</cite>, Robert Frost.</small>
</blockquote>

<p>Go <a href="javascript:history.back(-1);">back</a>.</p>

{% endblock %}
