<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<title>{% block title %}Generic Page{% endblock %}</title>
	<link rel="stylesheet" href="{{ MEDIA_URL }}libcoffee.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{ MEDIA_URL }}libcoffee-print.css" type="text/css" media="print"/>
	<!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}ie.css" type="text/css" media="screen, projection"/><![endif]-->
	<link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/" />
	<link rel="shortcut icon" href="{{ MEDIA_URL }}global/favicon.ico"/>
	{% if debug %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feeds/latest/" />
		<link rel="alternate" type="application/rss+xml" title="RSS for latest comments" href="/blog/feeds/comments/" />
	{% else %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/libcoffee" />
		<link rel="alternate" type="application/rss+xml" title="RSS for latest comments" href="http://feeds.feedburner.com/libcoffeecomments" />
	{% endif %}
	{% block header %}{% endblock %}
	{% block feed %}{% endblock %}
	<meta name="y_key" content="df9eb06178cb5625"/>
	<meta name="msvalidate.01" content="763C0CE3C4EA74446E443660DC925958" />
</head>
<body>
<div class="container">
	<!-- Page header -->
	<div id="header" class="push-1 span-22 last">
		<h1 class="column"><a href="/blog/">{% block pagetitle %}Libcoffee&#215;Blog{% endblock %}</a></h1>
		<hr/>
	</div>
	
	<!-- Page content -->
	<div id="content" class="hfeed push-1 span-15 colborder">
		{% block body %}{% endblock %}
	</div>
	<div id="sidebar" class="span-6 last">
		{% include "sidebar.html" %}
	</div>
	
	<!-- Footer -->
	<div id="footer" class="push-1 span-22 last">
		<hr/>
		<div class="span-8 copyright">
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
			copyleft</a> &copy; 2009. some rights reserved.
		</div>
		<div class="push-1 last">
			powered by <a href="http://www.djangoproject.com/">django</a> /
			<a href="http://code.google.com/appengine/">appengine</a> /
			<a href="http://quotedprintable.com/pages/scribbish">scribbish</a>
		</div>
	</div>
</div>
{% include "analytics.html" %}
</body>
</html>
