<h4>About</h4>
<div class="vcard">
	<span class="fn n"><b>
		<span class="nickname">Jerry</span>
		<span class="family-name">Chong</span></b>,
	</span>25 yrs.<br/>
	<span class="role">System Analyst</span>,
	<span class="addr"><span class="locality">Malaysian</span></span>.
	
	<span class="summary">
	Quintessential geek, anime otaku, caffeine addict, and open-source
	enthusiast. When not wasting time poking things on his laptop, likes to
	write the occasional rant on technology, Linux and life in general.
	</span>
	<br/><br/>
	
	<span class="contact">
		Email: <a class="email" rel="me" href="mailto:zanglang@gmail.com">zanglang@gmail.com</a><br/>
		Profile: <a class="url" rel="me" href="http://www.google.com/profiles/zanglang">Google Profile</a><br/>
		Twitter: <a class="url" rel="me" href="http://twitter.com/zanglang">@zanglang</a><br/>
	</span>
	<br/>
	
	<ul>
		<li><a class="url" rel="me" href="/">Home</a></li>
		<li><a class="url" rel="me" href="/about/">About me</a></li>
		<li><a href="/resume/">Resume</a></li>
		<li><a href="/stuff/">Stuff</a></li>
	</ul>
</div>
