<h3>About</h3>
<div class="vcard">
	<span class="fn n"><b>
		<span class="nickname">Jerry</span>
		<span class="family-name">Chong</span></b>,
	</span>25 yrs.<br/>
	<span class="role">System Analyst</span>,
	<span class="addr"><span class="locality">Malaysian</span></span>.
	
	Quintessential geek, anime otaku, caffeine addict, and open-source
	enthusiasist. When not wasting time poking things on his laptop, likes to
	write the occasional rant on technology, Linux and life in general.
	
	<br/><br/>
	<span class="contact">
		Email: <a class="email" rel="me" href="mailto:zanglang@gmail.com">zanglang@gmail.com</a><br/>
		Other info: <a class="url" rel="me" href="http://mugshot.org/person?who=Czp8QKtQRpjwrc">my Mugshot</a>
	</span>
	<br/><br/>
</div>

<ul class="vcard">
	<li><a class="url" rel="me" href="/">Home</a></li>
	<li><a class="url" rel="me" href="/about/">About me</a></li>
	<li><a href="/etc/">Etc</a></li>
</ul>