{% load blog_tags %}

<!-- Navigation sidebar -->
{% block sidebar %}

{% include 'profile.html' %}

<h4>Categories</h4>
<ul>
{% get_blog_categories as category_list %}
{% for category in category_list %}
	<li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
{% endfor %}
</ul>

<h4>Archives</h4>
<ul>
{% get_month_list as month_list %}
{% for blog_month in month_list %}
	<li><a href="/blog/{{ blog_month|date:'Y/m/' }}">{{ blog_month|date:'F Y' }}</a></li>
{% endfor %}
</ul>

{% endblock %}
