{% load cache comment_tags markup_tags gravatar smart_if %}
{% cache 1000000 comments object.pk %}
{% get_comment_list for object as comment_list %}

<div id="comments">
	<h3>Comments</h3>
	<a name="comments"></a>
	<p><a href="#commentform">Leave a comment</a></p>
	
	<ol class="last">
{% for comment in comment_list %}
		<li class="comment {% if comment.user.is_staff %}isauthor{% endif %}">
		<div class="vcard">
			<a class="url" {% if comment.url %}href="{{ comment.url }}"{% endif %}>
				{% if comment.user_type == 'facebook' %}
					<span class="gravatar">
					<fb:profile-pic uid="{{ comment.facebook_uid }}" facebook-logo="true"/>
					</span>
				{% else %}
					{% gravatar_img_for_email comment.email 50 %}
				{% endif %}
			</a>
			<cite class="author">
				<a class="fn n url {% if comment.url %}{{ comment.user_type }}{% endif %}"
					name="c{{ comment.shortid }}"
					{% if comment.url %}href="{{ comment.url }}" rel="nofollow"{% endif %}>
				{{ comment.name }}</a>
			</cite>
			<abbr class="submitted" title="{{ comment.submit_date }}">
				{{ comment.submit_date|date:'Y-m-d h:iA' }}
			</abbr>
		</div>
		<div class="last">{{ comment.comment|force_escape|render:'Markdown' }}</div>
		</li>
{% endfor %}
	</ol>
</div>

{% endcache %}