{% extends 'base.html' %}
{% load cache markup_tags comment_tags trackback_tags %}

{% block title %}{{ flatpage.title }} - Libcoffee.net{% endblock %}

{% block feed %}
<link rel="pingback" href="{% get_pingback_url %}" />
{% get_trackback_rdf_for flatpage %}
{% endblock %}

{% block body %}
{% cache 1000000 flatpage flatpage.pk %}
<div class="entry hentry">
	<h2 class="entry-title">{{ flatpage.title }}</h2>
	<div class="content entry-content">
		{{ flatpage.content|render:'Textile' }}
	</div>
</div>
{% endcache %}

{% if flatpage.enable_comments %}
{% with flatpage as object %}

{% include "trackback/trackback_list.html" %}
{% include "comments/comments_list.html" %}
{% render_comment_form for object %}

{% endwith %}
{% endif %}
{% endblock %}